*{
    margin: 0;
    padding: 0;
  
}

.header ul{
    list-style: none;
    justify-content: center;
    display: flex;

}
.header ul li{
    padding: 20px;
    font-size: 30px;
}
.drowdond ul{
    padding: 10px;
    color: black;
    background-color: rgb(178, 173, 171);
    display: none;
    list-style: none;
    flex-direction: column;
}
.drowdond ul li{
    padding: 10px;
}
.header ul li:hover .drowdond ul{
    display: flex;
    cursor: pointer;
    position: absolute;

}
.drowdond 